.button-one{
  color: white;
  background-color: blue;
  padding: 20px;
  width: 400px;
  border-radius:10px;
  font-size: 20px;
  border-width: 0px;
}
.button-two{
  color: white;
  background-color: #ff0095;
  padding: 20px;
  width: 400px;
  border-radius:10px;
  font-size: 20px;
}
.button-three{
  color: white;
  background-color: #0099ff;
  padding: 20px;
  width: 400px;
  border-radius:10px;
  font-size: 20px;
}
.button-four{
  color: white;
  background-color: #b3ff00;
  padding: 20px;
  width: 400px;
  border-radius:10px;
  font-size: 20px;
}
.button-five{
  color: white;
  background-color: hsl(23, 100%, 50%);
  padding: 20px;
  width: 400px;
  border-radius:10px;
  font-size: 20px;
}
.button-six{
  color: white;
  background-color: #00ff77;
  padding: 20px;
  width: 400px;
  border-radius:10px;
  font-size: 20px;
}
.button-seven{
  color: purple;
  padding: 20px;
  width: 400px;
  font-size: 20px;
  border-top-color: purple;
  border-bottom-color: purple;
  border-width: 3px;
}
.button-eight{
  color: black;
  padding: 20px;
  width: 400px;
  border-radius:50px;
  font-size: 20px;
}
.button-nine{
  color: black;
  padding: 20px;
  width: 400px;
  border-radius:50px;
  font-size: 12px;
}
